@font-face {
  font-family: 'MSW98UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/msw98ui-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'MSW98UI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/msw98ui-bold.woff2) format('woff2');
}
